<!DOCTYPE html>
<html lang="en">
    <head runat="server">
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
<!--        <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />-->
        <link runat="server" rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
        <link runat="server" rel="icon" href="favicon.ico" type="image/ico"/>

        <meta name="viewport" content="width=device-width" />

        
        
        


        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Veracity Fable", "Index", "Home")...engineering ideas out of dreams.</p>
                </div>
                <div class="float-left">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home") ~ </li>                                                        
                            <li>@Html.ActionLink("Leucippus", "Index", "Leucippus") ~ </li>
                            <li>@Html.ActionLink("School Allocator", "AlloAlgoForm", "AlloAlgo") ~ </li>                            
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                             
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Veracity Fable ...engineering ideas out of dreams.</p>
                    <p><I>"Mummy, when we get home can I play on my rope ladder? So I can have some more ideas about dreams" (Verity, aged 3).</I></p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
