@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1>Leucippus</h1>
    <p>An application to explore electron density in x-ray crystal structures and cryo-EM structures</p>
    <hr />
    <h3>Leucippus, the electron density application</h3>
    <p>
        This application faciliates the exploration of the electron density of x-ray and cryo-EM structures, exploring the 3d matrices of their electron distributions.
        <br/> The application displays contour plots through the matrix to see the distributions of electrons in chosen positions. You can select either xyz coorinates in space or residues/atoms to explore.
    </p>
    <hr/>
    <!--
    <h3>Prepared Example Data</h3>
    <p>
        These structures are prepared with the coordinates ready to browse:
        <br/> Note that due to the free tier of Azure being 32 bit only very small structures can be browsed currently.
    </p>    
    <p>
        @Html.ActionLink(
        linkText: "1ejg",
        actionName: "Index",
        controllerName: "Plotly",
        routeValues: new {pdbcode = "1ejg"},
        htmlAttributes: null)
        This structure is an ultra-high resolution crambin structure at 0.54Å.       
    </p>    
    <p>        
        @Html.ActionLink(
        linkText: "6zx4",
        actionName: "Slice",
        controllerName: "Plotly",
        routeValues: new {pdbcode = "6zx4",
        cx="-28.501",
        cy="19.873",
        cz="-14.129",
        lx="-28.073",
        ly="19.162",
        lz="-14.687",
        px="-28.962",
        py="18.938",
        pz="-15.084"},
        htmlAttributes: null)
        This structure has reported a NOS bridge, with significant difference density. Though the contour plot shows there is negative density, so the difference density could be spurious.
    </p>    
    <p>        
        @Html.ActionLink(
        linkText: "6eex",
        actionName: "Index",
        controllerName: "Matrix",
        routeValues: new {pdbcode = "6eex"},
        htmlAttributes: null)
        A small structure fast to navigate.
    </p>
    <hr/>
    <h4>The 2 highest resolution x-ray structues at 0.48Å</h4>
        @Html.ActionLink(
    linkText: "3nir",
        actionName: "Index",
        controllerName: "Matrix",
        routeValues: new {pdbcode = "3nir"},
        htmlAttributes: null)
        The highest resolution crambin structure.
    <br/>
        @Html.ActionLink(
    linkText: "5d8v",
        actionName: "Index",
        controllerName: "Matrix",
        routeValues: new {pdbcode = "5d8v"},
        htmlAttributes: null)
        Ultra-high-resolution iron-sulfur protein.
    <hr />
    <p>
        @Html.ActionLink(
        linkText: "3j5p",
        actionName: "Index",
        controllerName: "Matrix",
        routeValues: new {pdbcode = "3j5p"},
        htmlAttributes: null)
        A small low resolution cryo-em structure.
    </p>
    <hr/>-->
    <h3>Leucippus, the Greek Philosopher</h3>
    <p>
        Leucippus, a pre-Socratic Greek philosopher, is credited as the first philospher to develop the theory of <i>atomism</i>. 
        <br />Atomism is a natural philosph[py that proposes that the physical universe is made up of indivisible components called atoms.
        There is also <i>void</i>, the space that atoms can or do occupy.

        <br />Leucippus' student, Democritus, gained far more fame both then and now. Leucippus' work is known through the writings of Democritus.
        

        <br />Information taken from <a href="https://en.wikipedia.org/wiki/Leucippus">Wikipedia</a> <a href="https://plato.stanford.edu/entries/atomism-ancient/#LeucDemo">Stanford</a>
    </p>
    
    <hr/>
</div>
    

