@{
    ViewData["Title"] = "Browse";
    Layout = "~/Views/Shared/_LayoutDensity.cshtml";
}
<h3>Select from example Electron Density</h3>
<p>Or enter pdb code to browse</p>
<hr />
<div class="browse">
    <table class="browse" width="95%">        
        <tr>
            <th class="browse">Select structure...</th>            
            <th class ="browse">Selected: @ViewBag.PdbCode</th>
        </tr>
    <tr>
            <td class="browse" width="20%">
                <table cellpadding="50" cellspacing="50">
                    @using (Html.BeginForm("Browse", "Matrix", FormMethod.Post))
                    {
                        <tr style="height:25%">
                            <th colspan="1" align="center">Protein Structure</th>
                        </tr>
                        <tr style="height:30px;">
                            <td style="text-align:left">
                                <div class="inner-tbl">
                                    <table>
                                        <tr>
                                            <td>
                                                PdbCode:
                                            </td>
                                            <td>
                                                <input type="text" id="pdbcode" name="pdbcode" value=@ViewBag.PdbCode style="height:30px;" />
                                            </td>
                                            <td>
                                                <input type="image" src="~/images/searchv.png" style="width:30px;height:30px;vertical-align:text-bottom"/>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    }
                </table>
                <table>
                    <tr>
                        <th>Examples...</th>
                    </tr>
                    <tr>
                        <th>Small structures</th>
                    </tr>
                    <tr>
                        <td>
                        @foreach (var item in ViewBag.SmallPdbs)
                        {
                            <span>
                                @item.PdbCode

                                @Html.ActionLink(
                            linkText: "select",
                            actionName: "Browse",
                            controllerName: "Matrix",
                            routeValues: new {
                            pdbcode = @item.PdbCode,
                            },
                            htmlAttributes: null
                            )
                    
                            </span>
                            <br />
                        }
                        </td>
                    </tr>
                    <tr>
                        <th>Ultra-high-resolution</th>
                    </tr>
                    <tr>
                        <td>
                            @foreach (var item in ViewBag.HighPdbs)
                            {
                                <span>
                                    @item.PdbCode

                                    @Html.ActionLink(
                                linkText: "select",
                                actionName: "Browse",
                                controllerName: "Matrix",
                                routeValues: new {
                                pdbcode = @item.PdbCode,
                                },
                                htmlAttributes: null
                                )

                                </span>
                                <br />
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Small cryo-em</th>
                    </tr>
                    <tr>
                        <td>
                            @foreach (var item in ViewBag.SmallEmPdbs)
                            {
                                <span>
                                    @item.PdbCode

                                    @Html.ActionLink(
                                linkText: "select",
                                actionName: "Browse",
                                controllerName: "Matrix",
                                routeValues: new {
                                pdbcode = @item.PdbCode,
                                },
                                htmlAttributes: null
                                )

                                </span>
                                <br />
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>High-res cryo-em</th>
                    </tr>
                    <tr>
                        <td>
                            @foreach (var item in ViewBag.HighEmPdbs)
                            {
                                <span>
                                    @item.PdbCode

                                    @Html.ActionLink(
                                linkText: "select",
                                actionName: "Browse",
                                controllerName: "Matrix",
                                routeValues: new {
                                pdbcode = @item.PdbCode,
                                },
                                htmlAttributes: null
                                )

                                </span>
                                <br />
                            }
                        </td>
                    </tr>
                </table>

        </td>

        <td class="browse" width="80%">

            <div>                                                
                <a href=@ViewBag.EbiLink target="_blank">EBI Link to @ViewBag.PdbCode</a>
                <hr />                
                <b>Electron density details</b>
                <br />
                <span>EmCode : @ViewBag.EmCode 
                <br />
                DensityType: @ViewBag.DensityType
                <br />
                Resolution: @ViewBag.Resolution
                <br />
                        <a href="https://www.ccpem.ac.uk/mrc_format/mrc2014.php" target="_blank">Info on ED Maps</a>
                    </span>
                
            </div>
            <hr />
            <div id="detls">                                
                <textarea rows="10" cols="50">@Html.Raw(@ViewBag.Info)</textarea>
            </div>


        </td>
    </tr>


</table>
</div>

<div>
    </p>@ViewBag.Error<p>
</div>





