
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutDensity.cshtml";
}

<h1>Electron Density Matrix Explorer - @ViewBag.PdbCode</h1>
<hr />

@using (Html.BeginForm("Index", "Matrix", FormMethod.Post))
{
    <table cellpadding="0" cellspacing="0">
        <tr style="height:25%">
            <th colspan="1" align="center">Protein Structure</th>
        </tr>
        <tr style="height:30px;" />            
            <td>
                <span>
                PdbCode:
                    <input type="text" id="pdbcode" name="pdbcode" value=@ViewBag.PdbCode style="height:30px;" />
                    <input type="image" src="~/images/search.png" style="height:30px;vertical-align:text-bottom" />
                </span>
        </td>        
    </table>
}
<hr />
<div>
    Explore the structure with the top menu items <i>Slice</i> to look at real space contour slices, or <i>Matrix</i> to explore the raw matrix data.
</div>

<hr />
<div id="detes">
    <h3>Details about @ViewBag.PdbCode electron density</h3>
    <a href=@ViewBag.EbiLink>EBI Link to @ViewBag.PdbCode</a>
    <br />
    @Html.Raw(@ViewBag.Info)
</div>