@{
    ViewData["Title"] = "Slice";
    Layout = "~/Views/Shared/_LayoutDensity.cshtml";
}
<div class="subheader">
<span>                                    
    @Html.ActionLink(linkText: "Choose",actionName: "Browse",controllerName: "Matrix",routeValues: new {pdbcode = ViewBag.PdbCode,},htmlAttributes: new { @class = "sub-header" })                                    
    @Html.ActionLink(linkText: "Slice",actionName: "Slice",controllerName: "Matrix",routeValues: new {pdbcode = ViewBag.PdbCode,},htmlAttributes: new { @class = "sub-header" })                                    
    @Html.ActionLink(linkText: "Plane",actionName: "Plane",controllerName: "Matrix",routeValues: new {pdbcode = ViewBag.PdbCode,},htmlAttributes: new { @class = "sub-header" })
    @Html.ActionLink(linkText: "Projection",actionName: "Projection",controllerName: "Matrix",routeValues: new {pdbcode = ViewBag.PdbCode,},htmlAttributes: new { @class = "sub-header" })
        @Html.ActionLink(linkText: "Overlay",actionName: "Overlay",controllerName: "Matrix",routeValues: new {pdbcode = ViewBag.PdbCode,},htmlAttributes: new { @class = "sub-header" })
    
</span>
</div>
<h3>Slice though Density Matrix - @ViewBag.PdbCode</h3>
<hr />
@using (Html.BeginForm("Slice", "Matrix", FormMethod.Post))
{
<!--A hidden area to house all the view bag values in this where the entire body is a form-->
<!-- Once they are used elsewhere they are removed - there MUST BE ONLY ONE FIELD for each of these in this form -->
<div style="visibility:hidden;height:0px;width:0px;margin:0px;padding:0px;display:none">
<!--<div>-->
    tabview<input id="tabview"  value=@ViewBag.TabView  name="tabview"/>
    <input id="t1"  value="0"  name="t1"/>
    <input id="t2"  value="0"  name="t2"/>
    <input id="t3"  value="0"  name="t3"/>
    <input id="t4"  value="0"  name="t4"/>
    <input id="nav"  value=""  name="nav"/>    
    denplot<input id="denplot"  value=@ViewBag.DenPlot  name="denplot"/>
    radplot<input id="radplot"  value=@ViewBag.RadPlot  name="radplot"/>
    lapplot<input id="lapplot"  value=@ViewBag.LapPlot  name="lapplot"/>
    denhue<input id="denhue"  value=@ViewBag.DenHue  name="denhue"/>
    radhue<input id="radhue"  value=@ViewBag.RadHue  name="radhue"/>
    laphue<input id="laphue"  value=@ViewBag.LapHue  name="laphue"/>
    denbar<input id="denbar"  value=@ViewBag.DenBar  name="denbar"/>
    radbar<input id="radbar"  value=@ViewBag.RadBar  name="radbar"/>
    lapbar<input id="lapbar"  value=@ViewBag.LapBar  name="lapbar"/>
    valsd<input id="valsd"  value=@ViewBag.ValSd  name="valsd"/>
    pdbcode<input id="pdbcode"  value=@ViewBag.PdbCode  name="pdbcode"/>
    interp<input id="interp"    value=@ViewBag.Interp   name="interp"/>
    c_xyz=@ViewBag.cXYZ     <!--<input id="c_xyz"  value=@ViewBag.cXYZ     name="c_xyz"/>-->
    l_xyz=@ViewBag.lXYZ     <!--<input id="l_xyz"  value=@ViewBag.lXYZ     name="l_xyz"/>-->
    p_xyz=@ViewBag.pXYZ     <!--<input id="p_xyz"  value=@ViewBag.pXYZ     name="p_xyz"/>-->
    ca=@ViewBag.cAtom        <!--<input id="ca"    value=@ViewBag.cAtom    name="ca"/>-->
    la=@ViewBag.lAtom        <!--<input id="la"    value=@ViewBag.lAtom    name="la"/>-->
    pa=@ViewBag.pAtom        <!--<input id="pa"    value=@ViewBag.pAtom    name="pa"/>-->
    fos=@ViewBag.Fos       <!--<input id="fos"     value=@ViewBag.Fos      name="fos"/>-->
    fcs=@ViewBag.Fcs       <!--<input id="fcs"     value=@ViewBag.Fcs      name="fcs"/>-->
    width=@ViewBag.Width<!--<input id="width"      value=@ViewBag.Width    name="width"/>-->
    gap=@ViewBag.Gap<!--<input id="gap"            value=@ViewBag.Gap      name="gap"/>-->
    ydots=@ViewBag.YellowDots
    gdots=@ViewBag.GreenDots
    sdcap=@ViewBag.SdCap<!--<input id="sdcap"      value=@ViewBag.SdCap    name="width"/>-->
    sdfloor=@ViewBag.SdFloor<!--<input id="sdfloor" value=@ViewBag.SdFloor    name="width"/>-->
    hover_min=@ViewBag.HoverMin<!--<input id="hover_min" value=@ViewBag.HoverMin    name="hover_min"/>-->
    hover_max=@ViewBag.HoverMax<!--<input id="hover_min" value=@ViewBag.HoverMax    name="hover_max"/>-->
    nav_distance=@ViewBag.NavDistance<!--<input id="hover_min" value=@ViewBag.NavDistance    name="nav_distance"/>-->
    atom_offset=<input id="atom_offset" value=@ViewBag.AtomOffset name="atom_offset"/>
    refresh_mode=<input id="refresh_mode" value=@ViewBag.RefreshMode name="refresh_mode"/>
    force_slow=@ViewBag.ForceSlow
</div>

<div class="tab">
<span>    
    <input type  ="submit" value="Display" id="tabSettings" onclick="ChangeTab('t2')" style="border:none;display:@ViewBag.TabSClick"/>
    <span style="border:none;display:@ViewBag.TabSName;font-weight:bold">@ViewBag.TabName</span>    
    <input type="submit" value="Navigate" id="tabAtoms" onclick="ChangeTab('t1')" style="border:none;display:@ViewBag.TabAClick"/>
    <span style="border:none;display:@ViewBag.TabAName;font-weight:bold">@ViewBag.TabName</span>    
    <input type="submit" value="Neighbours" id="tabNeighbours" onclick="ChangeTab('t3')" style="border:none;display:@ViewBag.TabNClick"/>
    <span style="border:none;display:@ViewBag.TabNName;font-weight:bold">@ViewBag.TabName</span>        
    <input type="submit" value="Advanced" id="tabAdvanced" onclick="ChangeTab('t4')" style="border:none;display:@ViewBag.TabXClick"/>
    <span style="border:none;display:@ViewBag.TabXName;font-weight:bold">@ViewBag.TabName</span>    
   
</span>
</div>
<!--##################################### TAB DISPLAY SECTION - ATOMS ############################################# -->
    <div id="Atoms" class="tabcontent" style="display:@ViewBag.T1Display;background-color:@ViewBag.TabBackClr">
    <div>
        <table>
        <tr>
            <td style="width:85%;background-color:@ViewBag.TabBackClr">
                <table cellpadding="0" cellspacing="0" style="width:100%;table-layout: fixed;">
                <tr>
                        <th style="width:20%;background:Gainsboro">
                            <a href=@ViewBag.BrowseAtoms target="_blank">Browse atoms</a>
                        </th>
                        <th style="background:Gainsboro;" colspan="1" align="center">
                            <table style="width:100%;border:none;margin:unset;padding:unset">
                                <tr>
                                    <td style="background:Gainsboro;"><input type="submit" value="<<"  onclick="ForceRefreshAtoms(-1)" /></td>
                                    <td style="background:Gainsboro;"><input type="submit" value="Submit Atoms"  onclick="ForceRefreshAtoms(0)" /></td>
                                    <td style="background:Gainsboro;"><input type="submit" value=">>"  onclick="ForceRefreshAtoms(1)" /></td>
                                </tr>
                            </table>                                                                                    
                        </th>
                        <th style="background:Gainsboro;" colspan="1" align="center"><input type="submit" value="Submit (x,y,z)"  onclick="ForceRefreshCoords()" /></th>                        
                        <th style="background:Gainsboro;color:navy" colspan="1" align="center">distance</th>                
                    </tr>                        
                <tr>
                    <td>central</td>
                    <td><input style="color:@ViewBag.CColor" type="text" id="ca" name="ca" value=@ViewBag.cAtom></td>
                    <td><input type="text" id="c_xyz" name="c_xyz" value=@ViewBag.cXYZ></td>
                    <td><div id="cdistance">@ViewBag.CDistance</div></td>                
                </tr>
                <tr>
                    <td>linear</td>
                    <td><input style="color:@ViewBag.LColor" type="text" id="la" name="la" value=@ViewBag.lAtom></td>
                    <td><input type="text" id="l_xyz" name="l_xyz" value=@ViewBag.lXYZ></td>
                    <td><div id="ldistance">@ViewBag.LDistance</div></td>                
                </tr>
                <tr>
                    <td>planar</td>
                    <td><input style="color:@ViewBag.PColor" type="text" id="pa" name="pa" value=@ViewBag.pAtom></td>
                    <td><input type="text" id="p_xyz" name="p_xyz" value=@ViewBag.pXYZ></td>
                    <td><div id="pdistance">@ViewBag.PDistance</div></td>                
                </tr>                                            
                </table>                        
            </td>   
            <td>
        <!-- https://stackoverflow.com/questions/34639583/how-can-i-create-responsive-joystick-layout-buttons-in-html   -->
        <p style="color:crimson;text-align:center">Navigation</p>
        <div id="joystick" style="width:100%;text-align:center;align-content:center">
            <span>            
            <a style="float:left" href="Slice?nav=minus&denbar=@ViewBag.DenBar&radbar=@ViewBag.RadBar&lapbar=@ViewBag.LapBar&denhue=@ViewBag.DenHue&radhue=@ViewBag.RadHue&laphue=@ViewBag.LapHue&denplot=@ViewBag.DenPlot&radplot=@ViewBag.RadPlot&lapplot=@ViewBag.LapPlot&pdbcode=@ViewBag.PdbCode&c_xyz=@ViewBag.cXYZ&l_xyz=@ViewBag.lXYZ&p_xyz=@ViewBag.pXYZ&ca=&la=&pa=&fos=@ViewBag.Fos&fcs=@ViewBag.Fcs&width=@ViewBag.Width&gap=@ViewBag.Gap&ydots=@ViewBag.YellowDots&gdots=@ViewBag.GreenDots&sdcap=@ViewBag.SdCap&sdfloor=@ViewBag.SdFloor&hover_min=@ViewBag.HoverMin&hover_max=@ViewBag.HoverMax&nav_distance=@ViewBag.NavDistance&interp=@ViewBag.Interp">
            <img src="~/images/plus.svg" alt="zoom in" style="width:35px;height:35px;"></a>
            <a style=";" href="Slice?refresh_mode=F&denbar=@ViewBag.DenBar&radbar=@ViewBag.RadBar&lapbar=@ViewBag.LapBar&denhue=@ViewBag.DenHue&radhue=@ViewBag.RadHue&laphue=@ViewBag.LapHue&denplot=@ViewBag.DenPlot&radplot=@ViewBag.RadPlot&lapplot=@ViewBag.LapPlot&pdbcode=@ViewBag.PdbCode&c_xyz=@ViewBag.cXYZ&l_xyz=@ViewBag.lXYZ&p_xyz=@ViewBag.pXYZ&ca=&la=&pa=&fos=@ViewBag.Fos&fcs=@ViewBag.Fcs&width=@ViewBag.Width&gap=@ViewBag.Gap&ydots=@ViewBag.YellowDots&gdots=@ViewBag.GreenDots&sdcap=@ViewBag.SdCap&sdfloor=@ViewBag.SdFloor&hover_min=@ViewBag.HoverMin&hover_max=@ViewBag.HoverMax&nav_distance=@ViewBag.NavDistance&interp=@ViewBag.Interp">
            <img src="~/images/refresh.svg" alt="zoom in" style="width:30px;height:30px;"></a>
            <a style="float:right" href="Slice?nav=plus&denbar=@ViewBag.DenBar&radbar=@ViewBag.RadBar&lapbar=@ViewBag.LapBar&denhue=@ViewBag.DenHue&radhue=@ViewBag.RadHue&laphue=@ViewBag.LapHue&denplot=@ViewBag.DenPlot&radplot=@ViewBag.RadPlot&lapplot=@ViewBag.LapPlot&pdbcode=@ViewBag.PdbCode&c_xyz=@ViewBag.cXYZ&l_xyz=@ViewBag.lXYZ&p_xyz=@ViewBag.pXYZ&ca=&la=&pa=&fos=@ViewBag.Fos&fcs=@ViewBag.Fcs&width=@ViewBag.Width&gap=@ViewBag.Gap&ydots=@ViewBag.YellowDots&gdots=@ViewBag.GreenDots&sdcap=@ViewBag.SdCap&sdfloor=@ViewBag.SdFloor&hover_min=@ViewBag.HoverMin&hover_max=@ViewBag.HoverMax&nav_distance=@ViewBag.NavDistance&interp=@ViewBag.Interp">
            <img src="~/images/minus.svg" alt="zoom in" style="width:35px;height:35px;"></a>
            </span>
                                        
            <svg width="100%" height="100%" viewBox="0 0 100 100" style="text-align:center;">
                <defs>
                    <linearGradient id="grad1" x1="0%" y1="0%" x2="0%" y2="100%">
                        <stop offset="0%" style="stop-color:rgb(16,16,16);stop-opacity:1" />
                        <stop offset="100%" style="stop-color:rgb(240,240,240);stop-opacity:1" />
                    </linearGradient>
                    <linearGradient id="grad2" x1="0%" y1="0%" x2="0%" y2="100%">
                        <stop offset="0%" style="stop-color:rgb(240,240,240);stop-opacity:1" />
                        <stop offset="100%" style="stop-color:rgb(16,16,16);stop-opacity:1" />
                    </linearGradient>
                    <linearGradient id="grad3" x1="0%" y1="0%" x2="0%" y2="100%">
                        <stop offset="0%" style="stop-color:rgb(168,168,168);stop-opacity:1" />
                        <stop offset="100%" style="stop-color:rgb(239,239,239);stop-opacity:1" />
                    </linearGradient>
                </defs>
                <circle cx="50" cy="50" r="38" fill="url(#grad1)" />
                <circle cx="50" cy="50" r="38" fill="url(#grad2)" stroke="black" stroke-width="1.5px" />
                <circle cx="50" cy="50" r="38" fill="url(#grad3)" />
                <circle cx="50" cy="50" r="20" fill="#cccccc" stroke="black" stroke-width="2px"/>                                
                 <!--<a href="/Matrix/Slice">-->
                <a href="Slice?nav=tilt_up&denbar=@ViewBag.DenBar&radbar=@ViewBag.RadBar&lapbar=@ViewBag.LapBar&denhue=@ViewBag.DenHue&radhue=@ViewBag.RadHue&laphue=@ViewBag.LapHue&denplot=@ViewBag.DenPlot&radplot=@ViewBag.RadPlot&lapplot=@ViewBag.LapPlot&pdbcode=@ViewBag.PdbCode&c_xyz=@ViewBag.cXYZ&l_xyz=@ViewBag.lXYZ&p_xyz=@ViewBag.pXYZ&ca=&la=&pa=&fos=@ViewBag.Fos&fcs=@ViewBag.Fcs&width=@ViewBag.Width&gap=@ViewBag.Gap&ydots=@ViewBag.YellowDots&gdots=@ViewBag.GreenDots&sdcap=@ViewBag.SdCap&sdfloor=@ViewBag.SdFloor&hover_min=@ViewBag.HoverMin&hover_max=@ViewBag.HoverMax&nav_distance=@ViewBag.NavDistance&interp=@ViewBag.Interp&tabview=A">
                <path d="M50,0 54,8 46,8Z" fill="rgba(0,0,0,0.8)"><title>tilt over</title></path></a>                
                <a href="Slice?nav=up&denbar=@ViewBag.DenBar&radbar=@ViewBag.RadBar&lapbar=@ViewBag.LapBar&denhue=@ViewBag.DenHue&radhue=@ViewBag.RadHue&laphue=@ViewBag.LapHue&denplot=@ViewBag.DenPlot&radplot=@ViewBag.RadPlot&lapplot=@ViewBag.LapPlot&pdbcode=@ViewBag.PdbCode&c_xyz=@ViewBag.cXYZ&l_xyz=@ViewBag.lXYZ&p_xyz=@ViewBag.pXYZ&ca=&la=&pa=&fos=@ViewBag.Fos&fcs=@ViewBag.Fcs&width=@ViewBag.Width&gap=@ViewBag.Gap&ydots=@ViewBag.YellowDots&gdots=@ViewBag.GreenDots&sdcap=@ViewBag.SdCap&sdfloor=@ViewBag.SdFloor&hover_min=@ViewBag.HoverMin&hover_max=@ViewBag.HoverMax&nav_distance=@ViewBag.NavDistance&interp=@ViewBag.Interp&tabview=A">
                <path d="M50,14 54,22 46,22Z" fill="rgba(0,0,0,0.8)"><title>up</title></path></a>                
                <a href="Slice?nav=down&denbar=@ViewBag.DenBar&radbar=@ViewBag.RadBar&lapbar=@ViewBag.LapBar&denhue=@ViewBag.DenHue&radhue=@ViewBag.RadHue&laphue=@ViewBag.LapHue&denplot=@ViewBag.DenPlot&radplot=@ViewBag.RadPlot&lapplot=@ViewBag.LapPlot&pdbcode=@ViewBag.PdbCode&c_xyz=@ViewBag.cXYZ&l_xyz=@ViewBag.lXYZ&p_xyz=@ViewBag.pXYZ&ca=&la=&pa=&fos=@ViewBag.Fos&fcs=@ViewBag.Fcs&width=@ViewBag.Width&gap=@ViewBag.Gap&ydots=@ViewBag.YellowDots&gdots=@ViewBag.GreenDots&sdcap=@ViewBag.SdCap&sdfloor=@ViewBag.SdFloor&hover_min=@ViewBag.HoverMin&hover_max=@ViewBag.HoverMax&nav_distance=@ViewBag.NavDistance&interp=@ViewBag.Interp&tabview=A">
                <path d="M50,86 54,78 46,78Z" fill="rgba(0,0,0,0.8)"><title>down</title></path></a>                
                <a href="Slice?nav=tilt_down&denbar=@ViewBag.DenBar&radbar=@ViewBag.RadBar&lapbar=@ViewBag.LapBar&denhue=@ViewBag.DenHue&radhue=@ViewBag.RadHue&laphue=@ViewBag.LapHue&denplot=@ViewBag.DenPlot&radplot=@ViewBag.RadPlot&lapplot=@ViewBag.LapPlot&pdbcode=@ViewBag.PdbCode&c_xyz=@ViewBag.cXYZ&l_xyz=@ViewBag.lXYZ&p_xyz=@ViewBag.pXYZ&ca=&la=&pa=&fos=@ViewBag.Fos&fcs=@ViewBag.Fcs&width=@ViewBag.Width&gap=@ViewBag.Gap&ydots=@ViewBag.YellowDots&gdots=@ViewBag.GreenDots&sdcap=@ViewBag.SdCap&sdfloor=@ViewBag.SdFloor&hover_min=@ViewBag.HoverMin&hover_max=@ViewBag.HoverMax&nav_distance=@ViewBag.NavDistance&interp=@ViewBag.Interp&tabview=A">
                <path d="M50,100 54,92 46,92Z" fill="rgba(0,0,0,0.8)"><title>tilt under</title></path></a>                
                <a href="Slice?nav=left&denbar=@ViewBag.DenBar&radbar=@ViewBag.RadBar&lapbar=@ViewBag.LapBar&denhue=@ViewBag.DenHue&radhue=@ViewBag.RadHue&laphue=@ViewBag.LapHue&denplot=@ViewBag.DenPlot&radplot=@ViewBag.RadPlot&lapplot=@ViewBag.LapPlot&pdbcode=@ViewBag.PdbCode&c_xyz=@ViewBag.cXYZ&l_xyz=@ViewBag.lXYZ&p_xyz=@ViewBag.pXYZ&ca=&la=&pa=&fos=@ViewBag.Fos&fcs=@ViewBag.Fcs&width=@ViewBag.Width&gap=@ViewBag.Gap&ydots=@ViewBag.YellowDots&gdots=@ViewBag.GreenDots&sdcap=@ViewBag.SdCap&sdfloor=@ViewBag.SdFloor&hover_min=@ViewBag.HoverMin&hover_max=@ViewBag.HoverMax&nav_distance=@ViewBag.NavDistance&interp=@ViewBag.Interp&tabview=A">
                <path d="M14,50 22,54 22,46Z" fill="rgba(0,0,0,0.8)"><title>left</title></path></a>                
                <a href="Slice?nav=tilt_left&denbar=@ViewBag.DenBar&radbar=@ViewBag.RadBar&lapbar=@ViewBag.LapBar&denhue=@ViewBag.DenHue&radhue=@ViewBag.RadHue&laphue=@ViewBag.LapHue&denplot=@ViewBag.DenPlot&radplot=@ViewBag.RadPlot&lapplot=@ViewBag.LapPlot&pdbcode=@ViewBag.PdbCode&c_xyz=@ViewBag.cXYZ&l_xyz=@ViewBag.lXYZ&p_xyz=@ViewBag.pXYZ&ca=&la=&pa=&fos=@ViewBag.Fos&fcs=@ViewBag.Fcs&width=@ViewBag.Width&gap=@ViewBag.Gap&ydots=@ViewBag.YellowDots&gdots=@ViewBag.GreenDots&sdcap=@ViewBag.SdCap&sdfloor=@ViewBag.SdFloor&hover_min=@ViewBag.HoverMin&hover_max=@ViewBag.HoverMax&nav_distance=@ViewBag.NavDistance&interp=@ViewBag.Interp&tabview=A">
                <path d="M0,50 8,54 8,46Z" fill="rgba(0,0,0,0.8)"><title>tilt left</title></path></a>                
                <a href="Slice?nav=right&denbar=@ViewBag.DenBar&radbar=@ViewBag.RadBar&lapbar=@ViewBag.LapBar&denhue=@ViewBag.DenHue&radhue=@ViewBag.RadHue&laphue=@ViewBag.LapHue&denplot=@ViewBag.DenPlot&radplot=@ViewBag.RadPlot&lapplot=@ViewBag.LapPlot&pdbcode=@ViewBag.PdbCode&c_xyz=@ViewBag.cXYZ&l_xyz=@ViewBag.lXYZ&p_xyz=@ViewBag.pXYZ&ca=&la=&pa=&fos=@ViewBag.Fos&fcs=@ViewBag.Fcs&width=@ViewBag.Width&gap=@ViewBag.Gap&ydots=@ViewBag.YellowDots&gdots=@ViewBag.GreenDots&sdcap=@ViewBag.SdCap&sdfloor=@ViewBag.SdFloor&hover_min=@ViewBag.HoverMin&hover_max=@ViewBag.HoverMax&nav_distance=@ViewBag.NavDistance&interp=@ViewBag.Interp&tabview=A">
                <path d="M86,50 78,54 78,46Z" fill="rgba(0,0,0,0.8)"><title>right</title></path></a>                
                <a href="Slice?nav=tilt_right&denbar=@ViewBag.DenBar&radbar=@ViewBag.RadBar&lapbar=@ViewBag.LapBar&denhue=@ViewBag.DenHue&radhue=@ViewBag.RadHue&laphue=@ViewBag.LapHue&denplot=@ViewBag.DenPlot&radplot=@ViewBag.RadPlot&lapplot=@ViewBag.LapPlot&pdbcode=@ViewBag.PdbCode&c_xyz=@ViewBag.cXYZ&l_xyz=@ViewBag.lXYZ&p_xyz=@ViewBag.pXYZ&ca=&la=&pa=&fos=@ViewBag.Fos&fcs=@ViewBag.Fcs&width=@ViewBag.Width&gap=@ViewBag.Gap&ydots=@ViewBag.YellowDots&gdots=@ViewBag.GreenDots&sdcap=@ViewBag.SdCap&sdfloor=@ViewBag.SdFloor&hover_min=@ViewBag.HoverMin&hover_max=@ViewBag.HoverMax&nav_distance=@ViewBag.NavDistance&interp=@ViewBag.Interp&tabview=A">
                <path d="M100,50 92,54 92,46Z" fill="rgba(0,0,0,0.8)"><title>tilt right</title></path></a>                
                <a href="Slice?nav=anti&denbar=@ViewBag.DenBar&radbar=@ViewBag.RadBar&lapbar=@ViewBag.LapBar&denhue=@ViewBag.DenHue&radhue=@ViewBag.RadHue&laphue=@ViewBag.LapHue&denplot=@ViewBag.DenPlot&radplot=@ViewBag.RadPlot&lapplot=@ViewBag.LapPlot&pdbcode=@ViewBag.PdbCode&c_xyz=@ViewBag.cXYZ&l_xyz=@ViewBag.lXYZ&p_xyz=@ViewBag.pXYZ&ca=&la=&pa=&fos=@ViewBag.Fos&fcs=@ViewBag.Fcs&width=@ViewBag.Width&gap=@ViewBag.Gap&ydots=@ViewBag.YellowDots&gdots=@ViewBag.GreenDots&sdcap=@ViewBag.SdCap&sdfloor=@ViewBag.SdFloor&hover_min=@ViewBag.HoverMin&hover_max=@ViewBag.HoverMax&nav_distance=@ViewBag.NavDistance&interp=@ViewBag.Interp&tabview=A">
                <path d="M20,20 15,15 10,25Z" fill="rgba(0,0,0,0.8)"><title>anti-clockwise</title></path></a>                
                <a href="Slice?nav=clock&denbar=@ViewBag.DenBar&radbar=@ViewBag.RadBar&lapbar=@ViewBag.LapBar&denhue=@ViewBag.DenHue&radhue=@ViewBag.RadHue&laphue=@ViewBag.LapHue&denplot=@ViewBag.DenPlot&radplot=@ViewBag.RadPlot&lapplot=@ViewBag.LapPlot&pdbcode=@ViewBag.PdbCode&c_xyz=@ViewBag.cXYZ&l_xyz=@ViewBag.lXYZ&p_xyz=@ViewBag.pXYZ&ca=&la=&pa=&fos=@ViewBag.Fos&fcs=@ViewBag.Fcs&width=@ViewBag.Width&gap=@ViewBag.Gap&ydots=@ViewBag.YellowDots&gdots=@ViewBag.GreenDots&sdcap=@ViewBag.SdCap&sdfloor=@ViewBag.SdFloor&hover_min=@ViewBag.HoverMin&hover_max=@ViewBag.HoverMax&nav_distance=@ViewBag.NavDistance&interp=@ViewBag.Interp&tabview=A">
                <path d="M80,20 85,15 90,25Z" fill="rgba(0,0,0,0.8)"><title>clockwise</title></path></a>
                <clipPath id="cut-off">
                <rect x="0" y="0" width="70" height="50"/>
                </clipPath>
                <a href="Slice?nav=back&denbar=@ViewBag.DenBar&radbar=@ViewBag.RadBar&lapbar=@ViewBag.LapBar&denhue=@ViewBag.DenHue&radhue=@ViewBag.RadHue&laphue=@ViewBag.LapHue&denplot=@ViewBag.DenPlot&radplot=@ViewBag.RadPlot&lapplot=@ViewBag.LapPlot&pdbcode=@ViewBag.PdbCode&c_xyz=@ViewBag.cXYZ&l_xyz=@ViewBag.lXYZ&p_xyz=@ViewBag.pXYZ&ca=&la=&pa=&fos=@ViewBag.Fos&fcs=@ViewBag.Fcs&width=@ViewBag.Width&gap=@ViewBag.Gap&ydots=@ViewBag.YellowDots&gdots=@ViewBag.GreenDots&sdcap=@ViewBag.SdCap&sdfloor=@ViewBag.SdFloor&hover_min=@ViewBag.HoverMin&hover_max=@ViewBag.HoverMax&nav_distance=@ViewBag.NavDistance&interp=@ViewBag.Interp&tabview=A">
                <circle cx="50" cy="50" r="20" fill="darkseagreen"><title>back</title></circle></a>
                <a href="Slice?nav=fwd&denbar=@ViewBag.DenBar&radbar=@ViewBag.RadBar&lapbar=@ViewBag.LapBar&denhue=@ViewBag.DenHue&radhue=@ViewBag.RadHue&laphue=@ViewBag.LapHue&denplot=@ViewBag.DenPlot&radplot=@ViewBag.RadPlot&lapplot=@ViewBag.LapPlot&pdbcode=@ViewBag.PdbCode&c_xyz=@ViewBag.cXYZ&l_xyz=@ViewBag.lXYZ&p_xyz=@ViewBag.pXYZ&ca=&la=&pa=&fos=@ViewBag.Fos&fcs=@ViewBag.Fcs&width=@ViewBag.Width&gap=@ViewBag.Gap&ydots=@ViewBag.YellowDots&gdots=@ViewBag.GreenDots&sdcap=@ViewBag.SdCap&sdfloor=@ViewBag.SdFloor&hover_min=@ViewBag.HoverMin&hover_max=@ViewBag.HoverMax&nav_distance=@ViewBag.NavDistance&interp=@ViewBag.Interp&tabview=A">
                <circle cx="50" cy="50" r="20" fill="lightseagreen" clip-path="url(#cut-off)"><title>fwd</title></circle></a>
            </svg>
        </div>





        </td>
        </tr>
        </table>        
    </div>
</div>
<!-- #################################### TAB DISPLAY SECTION SETTINGS ######################################-->
    <div id="Settings" class="tabcontent" style="display:@ViewBag.T2Display;background-color:@ViewBag.TabBackClr">
    <div>
        <table>
            <tr>                
                <td style="background-color:aliceblue;color:crimson;border-top-color:aliceblue;border-bottom-color:aliceblue;border-left-color:aliceblue;">Interpolation method</td>
                <td>Interp=</td>
                <td>@ViewBag.Interp</td>
                <th>  <input type="submit" value="nearest" id="nearest" onclick="SubmitInterp('NEAREST')" /></th>
                <th>  <input type="submit" value="linear" id="linear" onclick="SubmitInterp('LINEAR')" /></th>
                <th>  <input type="submit" value="bspline" id="bspline" onclick="SubmitInterp('BSPLINE3')" /></th>                                
                <td style="width:35px;background-color:aliceblue;color:crimson;border-top-color:aliceblue;border-bottom-color:aliceblue;border-right-color:aliceblue;"> </td>
                <td style="background-color:aliceblue;color:crimson;border-top-color:aliceblue;border-bottom-color:aliceblue;border-left-color:aliceblue;">Fo's and Fc's</td>
                <td>Fos=</td>
                <td><input style="width:35px;" type="text" id="fos" name="fos" value=@ViewBag.Fos></td>
                <td>Fcs=</td>
                <td><input style="width:35px;" type="text" id="fcs" name="fcs" value=@ViewBag.Fcs></td>
            </tr>
    
        </table>    
    
     <table>
        <tr>
            <td style="background-color:aliceblue;color:crimson;border-top-color:aliceblue;border-bottom-color:aliceblue;border-left-color:aliceblue;">Width(Å)=</td>
            <th><input type="submit" value="-0.5" id="minus" onclick="ChangeWidth('-0.5')" /></th> 
            <td><input style="width:80px;" type="text" id="width" name="width" value=@ViewBag.Width></td>
            <th><input type="submit" value="+0.5" id="plus" onclick="ChangeWidth('0.5')" /></th>                       
            <td style="background-color:aliceblue;color:crimson;border-top-color:aliceblue;border-bottom-color:aliceblue;">Sample spacing(Å)=</td>
            <th><input type="submit" value="-0.01" id="minus" onclick="ChangeSpace('-0.01')" /></th>                               
            <td><input style="width:80px;" type="text" id="gap" name="gap" value=@ViewBag.Gap></td>
            <th><input type="submit" value="+0.01" id="plus" onclick="ChangeSpace('0.01')" /></th>
            <td style="width:35px;background-color:aliceblue;color:crimson;border-top-color:aliceblue;border-bottom-color:aliceblue;border-right-color:aliceblue;"> </td>
            <th style="background-color:DarkSlateGray;color:crimson;border:none;"><input type="submit" value="Update" /></th>
        </tr>
    </table>
    <table>
                <tr>
                <td colspan="4" style="background:Gainsboro;color:navy">Density Range (@ViewBag.ValSd)</td>
            </tr>
                <tr>
                    <td style="background:LightCyan;"><span>Min=@ViewBag.DenMin</span>: Floor=<span><input style="width:50px" type="text" id="sdfloor" name="sdfloor" value=@ViewBag.SdFloor></span></td>
                    <td style="background:LightCyan;"><input type="range" min=@ViewBag.DenMin max=0 value=@ViewBag.SdFloor step="0.1" style="direction:ltr" id="rangeValueMin"></td>
                    <td style="background:LightCyan;"><input type="range" min=0 max=@ViewBag.DenMax value=@ViewBag.SdCap step="0.1" style="direction:ltr" id="rangeValueMax"></td>
                    <td style="background:LightCyan;"><span>Max=@ViewBag.DenMax</span>: Cap=<span><input style="width:50px" type="text" id="sdcap" name="sdcap" value=@ViewBag.SdCap></span></td>
                </tr>
    </table>
    </div>
</div>
<!-- ############################# TAB NEIGHBOURS ########################################## -->
<div id="Neighbours" class="tabcontent" style="display:@ViewBag.T3Display;background-color:@ViewBag.TabBackClr">    
    <!--<p>Choose range for nearest atoms:[0,0]=nearest, otherwise specify a range</p>-->
    <table>
        <tr>
            <th>Neighbours range (A)</th>
            <th>Navigate to...</th>
            <th>Neighbours</th>            
        </tr>
            <tr style="vertical-align:top;">
            <td style="vertical-align:top;background-color:gainsboro;border:none">
                <table style="vertical-align:top;">                    
                    <tr>        
                    <td>Min Nearest</td>
                    <td><input style="width:50px" id="hover_min" value=@ViewBag.HoverMin name="hover_min" /></td>
                    <td>Max Nearest</td>
                    <td><input style="width:50px"  id="hover_max" value=@ViewBag.HoverMax name="hover_max" /></td>
                    </tr>        
                    <tr>
                    <th style="border:none;align:left;">
                        <input style="width:65px;align:left;" type="submit" value="Update" onclick="ForceRefreshCoords()" />
                    </th>            
                    <td style="border:none;align:left;background:gainsboro"></td>
                    <td style="border:none;align:left;background:gainsboro"></td>
                    <td style="border:none;align:left;background:gainsboro"></td>
                    </tr>                                        
                </table>                

            </td>            
            <td style="vertical-align:top;background-color:gainsboro;border:none">
                <table>                
                <tr>
                    <td colspan="3">
                        <input type="text" id="update_atom" name="update_atom" value=@ViewBag.cAtom>                        
                    </td>
                </tr>
                <tr>
                    <th><input type="submit" value="Central" onclick="makeAtom('C')"/></th>
                    <th><input type="submit" value="Linear" onclick="makeAtom('L')"/></th>                  
                    <th><input type="submit" value="Planar" onclick="makeAtom('P')"/></th>                                 
                </tr>     
                <tr>
                    <td>@ViewBag.cAtom</td>
                    <td>@ViewBag.lAtom</td>
                    <td>@ViewBag.pAtom</td>
                </tr>
            </table>
            </td>
            <td style="vertical-align:top;background-color:gainsboro;border:none">
                <div id="hoverInfo3" >
                    <table>                                        
                    <tr>                                                            
                    <td colspan="3">Click images for neighbour lists</td>
                    <tr>
                    <th>AA</th>
                    <th>Atom</th>
                    <th>Distance</th>
                    </tr>
                    </table>                
                </div>            
            </td>            
        </tr>
    </table>
    
        
</div>
<!-- ############################# TAB ADVANCED ########################################## -->
    <div id="Admin" class="tabcontent" style="display:@ViewBag.T4Display;background-color:@ViewBag.TabBackClr">
    <table>
    <tr>
        <td style="background-color:aliceblue;color:crimson;border-top-color:aliceblue;border-bottom-color:aliceblue;border-left-color:aliceblue;">Extra Interpolation methods</td>
        <td>Interp=</td>
        <td>@ViewBag.Interp</td>
        <th>  <input type="submit" value="nearest" id="nearest" onclick="SubmitInterp('NEAREST')" /></th>
        <th>  <input type="submit" value="linear" id="linear" onclick="SubmitInterp('LINEAR')" /></th>
        <th>  <input type="submit" value="cubic" id="bspline" onclick="SubmitInterp('CUBIC')" /></th>                                        
        <th>  <input type="submit" value="bspline" id="bspline" onclick="SubmitInterp('BSPLINE3')" /></th>                                        
        <th>  <input type="submit" value="bsplinewhole" id="bspline" onclick="SubmitInterp('BSPLINEWHOLE')" /></th>                                                
    </tr>    
    </table>            
    <table>
    <tr>
        <td style="background-color:aliceblue;color:crimson;border-top-color:aliceblue;border-bottom-color:aliceblue;border-left-color:aliceblue;">Toggle between values and standard deviation</td>
        <td>Density=</td>
        <td>@ViewBag.ValSd</td>
        <th><input type="submit" value="st.devs" id="st.devs" onclick="SubmitValSd('s.d.')" /></th>
        <th><input type="submit" value="electrons" id="electrons" onclick="SubmitValSd('electrons')" /></th>        
    </tr>
    </table>            
    <table>
    <tr>
        <td style="background-color:aliceblue;color:crimson;border-top-color:aliceblue;border-bottom-color:aliceblue;border-left-color:aliceblue;">Navigation distance</td>        
        <td><input id="nav_distance" value=@ViewBag.NavDistance name="nav_distance" /></td>        
    </tr>
    </table>    
    <hr/>
    <p>Turn dots on and off for atom positions and placements</p>
    <table class="inner-tbl">
    <tr>    
    <td>Atom dots=</td>
    <td><input type="radio" id="gon" name="green_dots" value="Y" onclick="myAtomDots('Y')" /></td>
    <td><label for="gon">Y</label></td>
    <td><input type="radio" id="goff" name="green_dots" value="N" onclick="myAtomDots('N')" /></td>
    <td><label for="gon">N</label></td>    
    <td><input id="gdots" value=@ViewBag.GreenDots name="gdots"/></td>    
    <td>Position dots=</td>
    <td><input type="radio" id="on" name="yell_dots" value="Y" onclick="myPositionDots('Y')" /></td>
    <td><label for="on">Y</label></td>
    <td><input type="radio" id="off" name="yell_dots" value="N" onclick="myPositionDots('N')" /></td>
    <td><label for="on">N</label></td>
    <td><input id="ydots" value=@ViewBag.YellowDots name="ydots"/></td>        
    <td>Override optimised nagiviation</td>
    <td><input type="radio" id="oon" name="opt" value="Y" onclick="myOptimise('Y')" /></td>
    <td><label for="oon">Y</label></td>
    <td><input type="radio" id="ooff" name="opt" value="N" onclick="myOptimise('N')" /></td>
    <td><label for="oon">N</label></td>
    <td><input id="force_slow" value=@ViewBag.ForceSlow name="force_slow" /></td>
    </tr>
    </table>      
    @Html.ActionLink(
    linkText: "Get full link",
    actionName: "Slice",
    controllerName: "Matrix",
    routeValues: new {
    denbar = ViewBag.DenBar,
    radbar = ViewBag.RadBar,
    lapbar = ViewBag.LapBar,
    denhue = ViewBag.DenHue,
    radhue = ViewBag.RadHue,
    laphue = ViewBag.LapHue,
    denplot = ViewBag.DenPlot,
    radplot = ViewBag.RadPlot,
    lapplot = ViewBag.LapPlot,
    pdbcode = @ViewBag.PdbCode,
    c_xyz = @ViewBag.cXYZ,
    l_xyz = @ViewBag.lXYZ,
    p_xyz = @ViewBag.pXYZ,
    ca = @ViewBag.cAtom,
    la = @ViewBag.lAtom,
    pa = @ViewBag.pAtom,
    fos = @ViewBag.Fos,
    fcs = @ViewBag.Fcs,
    interp = @ViewBag.Interp,
    width = @ViewBag.Width,
    gap = @ViewBag.Gap,
    ydots = @ViewBag.YellowDots,
    gdots = @ViewBag.GreenDots,
    sdcap = @ViewBag.SdCap,
    sdfloor = @ViewBag.SdFloor,
    tabview = "S",
    },
    htmlAttributes: null
    )
    
    <input type="submit" value="Update" />
</div>
<!-- ########################################### The actual plots################################### -->
   <hr/>
<div class="tab">
    <table cellpadding="0" cellspacing="0" style="width:100%;table-layout:fixed;">
        <tr>
            <th style="width:33%;min-width:500px">Density - @ViewBag.DenPlot</th>
            <th style="width:33%;min-width:500px">Radient - @ViewBag.RadPlot</th>
            <th style="width:33%;min-width:500px">Laplacian - @ViewBag.LapPlot</th>
        </tr>            
        <tr>            
            <td><table cellpadding="0" cellspacing="0" style="width:100%;table-layout:fixed;border:none;"><tr>
                <th style="border:none;background-color:snow;"><input type="submit" value="Toggle Plot" id="tp" onclick="TogglePlot('density')" style="border:none;background-color:snow;"/></th>
                <th style="border:none;background-color:snow;"><input type="submit" value="Toggle Hue" id="th" onclick="ToggleHue('density')" style="border:none;background-color:snow;"/></th>
                <th style="border:none;background-color:snow;"><input type="submit" value="Toggle Bar" id="tb" onclick="ToggleBar('density')" style="border:none;background-color:snow;"/></th>
            </tr></table></td>
            <td><table cellpadding="0" cellspacing="0" style="width:100%;table-layout:fixed;border:none;"><tr>
                <th style="border:none;background-color:snow;"><input type="submit" value="Toggle Plot" id="tp" onclick="TogglePlot('radient')" style="border:none;background-color:snow;"/></th>
                <th style="border:none;background-color:snow;"><input type="submit" value="Toggle Hue" id="th" onclick="ToggleHue('radient')" style="border:none;background-color:snow;"/></th>
                <th style="border:none;background-color:snow;"><input type="submit" value="Toggle Bar" id="tb" onclick="ToggleBar('radient')" style="border:none;background-color:snow;"/></th>
            </tr></table></td>
            <td><table cellpadding="0" cellspacing="0" style="width:100%;table-layout:fixed;border:none;"><tr>
                <th style="border:none;background-color:snow;"><input type="submit" value="Toggle Plot" id="tp" onclick="TogglePlot('laplacian')" style="border:none;background-color:snow;"/></th>
                <th style="border:none;background-color:snow;"><input type="submit" value="Toggle Hue" id="th" onclick="ToggleHue('laplacian')" style="border:none;background-color:snow;"/></th>
                <th style="border:none;background-color:snow;"><input type="submit" value="Toggle Bar" id="tb" onclick="ToggleBar('laplacian')" style="border:none;background-color:snow;"/></th>
            </tr></table></td>
        </tr>
        <tr>
            <td><div id="myCountour"></div></td>
            <td><div id="myCountourRad"></div></td>
            <td><div id="myCountourLap"></div></td>
        </tr>
    </table>
</div>
<hr />
<!-- ################################ The java script ############################### -->



}
<div>
    </p>@ViewBag.Error<p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    function openTab(evt, tabName) {
    @ViewBag.T1Display = 'block'
    @ViewBag.T2Display = 'block'
    @ViewBag.T3Display = 'block'
    @ViewBag.T4Display = 'block'

    }
</script>
<script>
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
        localStorage.setItem('activeTab', document.getElementById(cityName))                
    }

    function openTab(evt, tabName) {
    @ViewBag.T1Display = 'block'
    @ViewBag.T2Display = 'block'
    @ViewBag.T3Display = 'block'
    @ViewBag.T4Display = 'block'
        
    }
</script>
<script>
   function makePlots(sdfloor,sdcap,isDots,isAtoms) {
        var jx = @Html.Raw(Json.Serialize(@ViewBag.SliceAxis));
        var jy = @Html.Raw(Json.Serialize(@ViewBag.SliceAxis));    
        var jv = @Html.Raw(Json.Serialize(@ViewBag.SliceDensity));
        var anno = @Html.Raw(Json.Serialize(@ViewBag.Annotations));    
        var jpX = @Html.Raw(Json.Serialize(@ViewBag.SlicePositionX));    
        var jpY = @Html.Raw(Json.Serialize(@ViewBag.SlicePositionY));    
        var jaXg = @Html.Raw(Json.Serialize(@ViewBag.SliceProjGreenAtomsX));    
        var jaYg = @Html.Raw(Json.Serialize(@ViewBag.SliceProjGreenAtomsY));    
        var jaXb = @Html.Raw(Json.Serialize(@ViewBag.SliceProjBlueAtomsX));    
        var jaYb = @Html.Raw(Json.Serialize(@ViewBag.SliceProjBlueAtomsY));    
        var japX = @Html.Raw(Json.Serialize(@ViewBag.SlicePlaneAtomsX));    
        var japY = @Html.Raw(Json.Serialize(@ViewBag.SlicePlaneAtomsY));    
        var jvr = @Html.Raw(Json.Serialize(@ViewBag.SliceRadient));
        var jvl = @Html.Raw(Json.Serialize(@ViewBag.SliceLaplacian));
        var minv = -2
        var maxv = 10    
        var minl = @Html.Raw(Json.Serialize(@ViewBag.LMin));
        var maxl = @Html.Raw(Json.Serialize(@ViewBag.LMax));
    
        var denmin = @Html.Raw(Json.Serialize(@ViewBag.DenMin));
        var denmax = @Html.Raw(Json.Serialize(@ViewBag.DenMax));
        var numsd = @Html.Raw(Json.Serialize(@ViewBag.SdCap));
        var numsdfloor = @Html.Raw(Json.Serialize(@ViewBag.SdFloor));

        var lenD = jv.length;
        var lenR = jvr.length;
        var lenL = jvl.length;

        if (sdfloor != -1){
            numsdfloor = sdfloor;
        }
        if (sdcap != -1){
            numsd = sdcap;
        }
    
        var dhue = @Html.Raw(Json.Serialize(@ViewBag.DenHue));
        var rhue = @Html.Raw(Json.Serialize(@ViewBag.RadHue));
        var lhue = @Html.Raw(Json.Serialize(@ViewBag.LapHue));

        var dbar = @Html.Raw(Json.Serialize(@ViewBag.DenBar))=="Y";
        var rbar = @Html.Raw(Json.Serialize(@ViewBag.RadBar))=="Y";
        var lbar = @Html.Raw(Json.Serialize(@ViewBag.LapBar))=="Y";

        var minc = Math.round(numsdfloor * 100) / 100
        var maxc = Math.round(numsd*100)/100
        if (maxc < 0.00001){
            maxc = 0.001;
        }

        var size = (maxc - minc) / 10
        var zero_frac = 0.001            
        zero_frac = (0 - minc) / (maxc - minc)
        var lev1 = zero_frac + 0.1 * (1 - zero_frac)    
        var lev2 = zero_frac + 0.2 * (1 - zero_frac)
        var lev3 = zero_frac + 0.75 * (1 - zero_frac)
        var cs = []
            
        if (dhue == "RedBlueGrey"){
            cs = [  [0, 'DimGray'], 
                    [String(zero_frac + 0.0001), 'Snow'], 
                    [String(zero_frac + 0.0002), 'LightBlue'], 
                    [String(lev1), 'LightBlue'], 
                    [String(lev2), 'CornflowerBlue'], 
                    [String(lev3), 'Crimson'],
                    [1, 'rgb(100, 0, 0)']]
            // Birkbeck colours!!!!
            //cs = [[0, 'IndianRed'], [0.1, 'PaleVioletRed'], [String(zero_frac - 0.0001), 'Snow'], [String(zero_frac + 0.0001), 'Gold'], [String(lev1), 'RosyBrown'], [1, 'Black']]
        }    
        else if (dhue == "BlackWhite") {
            cs = [[0, 'Snow'], [1, 'Black']]
        }
        else if (dhue == "RedBlueZero") {
            cs = [[0, 'Crimson'], [String(zero_frac), 'Snow'], [0.99, 'CornflowerBlue'], [1, 'Navy']]
            //cs = [[0, 'Crimson'], [String(zero_frac), 'Snow'], [1, 'Navy']]
        }
        else {
            cs = [[0, 'LightBlue'], [0.99, 'rgb(100, 0, 0)'],[0.99, 'Black']]
        }
                 
        var sizel = (maxl - minl) / 10
        zero_frac_lap = (0 - minl) / (maxl - minl)  
        zero_frac_lap = 1 - zero_frac_lap
        var lev1 = zero_frac_lap + 0.1 * (1 - zero_frac_lap)
        var lev2 = zero_frac_lap + 0.3 * (1 - zero_frac_lap)
        var lev3 = zero_frac_lap + 0.5 * (1 - zero_frac_lap)
        if (lhue == "RedBlueGrey") {
            cs_lap = [[0, 'DimGray'], [String(zero_frac_lap + 0.001), 'AliceBlue'], [String(lev1), 'LightBlue'], [String(lev2), 'CornflowerBlue'], [String(lev3), 'Crimson'], [1, 'rgb(100, 0, 0)']]
        }
        else if (lhue == "BlackWhite") {
            cs_lap = [[0, 'Snow'], [1, 'Black']]
        }
        else if (lhue == "RedBlueZero") {
            cs_lap = [[0, 'Crimson'], [String(zero_frac_lap), 'AliceBlue'], [0.99, 'CornflowerBlue'], [1, 'Navy']]
            //cs_lap = [[0, 'Crimson'], [String(zero_frac_lap), 'Snow'], [String(lev1), 'AliceBlue'], [1, 'Navy']]
        }
        else {
            cs_lap = [[0, 'LightBlue'], [0.99, 'rgb(100, 0, 0)'],[1, 'Black']]
        }
      
       if (rhue == "RedBlueGrey") {
            cs_rad = [[0, 'DimGray'], [0.2, 'AliceBlue'], [0.4, 'LightBlue'], [0.6, 'CornflowerBlue'], [0.8, 'Crimson'], [1, 'rgb(100, 0, 0)']]
       }
        else if (rhue == "BlackWhite") {
            cs_rad = [[0, 'Black'], [1, 'Snow']]
       }
       else if (rhue == "RedBlueZero") {
            cs_rad = [[0, 'CornflowerBlue'], [0.49, 'AliceBlue'], [0.51, 'Snow'], [1, 'Crimson']]
        }
       else {
            cs_rad = [[0, 'LightBlue'], [0.99, 'rgb(100, 0, 0)'],[1, 'Black']]
       }

       col_bar = {  title: "",
                    thickness: 15,                                        
                    len:0.85,
                    x:+.95}

       var denplot = @Html.Raw(Json.Serialize(@ViewBag.DenPlot));
       var radplot = @Html.Raw(Json.Serialize(@ViewBag.RadPlot));
       var lapplot = @Html.Raw(Json.Serialize(@ViewBag.LapPlot));


        var huetitle = @Html.Raw(Json.Serialize(@ViewBag.ValSd)) + "<br>max=" + denmax;
    
        if (isDots){
            var dataP = {        
                x: jpX,
                y: jpY,
                hoverinfo:'none',
                mode: 'markers',
                type: "scatter",
                colorscale: [[0, 'rgba(0,0,0,0)'], [1, 'rgba(0, 100, 0,1)']],
                showscale: false,     
                name:"pos data",
                marker: {
                    color: 'Gold',
                    size: 4,            
                },
            }
        }
        else{
            var dataP = {
                x: [],
                y: [],
                mode: 'markers',
                type: "scatter",                
            }

        }

        if (isAtoms){
            var dataA = {        
                x: jaXg,
                y: jaYg,
                hoverinfo:'none',
                mode: 'markers',
                type: "scatter",
                colorscale: [[0, 'rgba(0,0,0,0)'], [1, 'rgba(0, 100, 0,1)']],
                showscale: false,     
                name:"atom data",
                marker: {
                    color: 'limegreen',
                    size: 4,            
                },
            }
            var dataB = {        
                x: jaXb,
                y: jaYb,
                hoverinfo:'none',
                mode: 'markers',
                type: "scatter",
                colorscale: [[0, 'rgba(0,0,0,0)'], [1, 'rgba(0, 100, 0,1)']],
                showscale: false,     
                name:"atom data",
                marker: {
                    color: 'cyan',
                    size: 4,            
                },
            }
            var dataAP = {        
                x: japX,
                y: japY,
                hoverinfo:'none',
                mode: 'markers',
                type: "scatter",
                colorscale: [[0, 'rgba(0,0,0,0)'], [1, 'rgba(0, 100, 0,1)']],
                showscale: false,     
                name:"atom data",
                marker: {
                    color: 'yellow',
                    size: 4,            
                },
            }
        }
        else{
            var dataA = {
                x: [],
                y: [],
                mode: 'markers',
                type: "scatter",                
            }
            var dataB = {
                x: [],
                y: [],
                mode: 'markers',
                type: "scatter",                
            }
            var dataAP = {
                x: [],
                y: [],
                mode: 'markers',
                type: "scatter",                
            }

        }
        
        if (denplot == "heatmap"){
            var dataV = {
                z: jv,
                x: jx,
                y: jy,        
                text:anno,                                
                hovertemplate:'Val:%{z:.4f}<br>%{text}',
                zmin: minc,
                zmax:maxc,
                type: denplot,
                colorscale: cs,
                reversescale: false,            
                line: {
                    width: 0.5,
                    color: 'Gray'
                },            
                showscale: dbar,
                colorbar: col_bar,            
                name:"Density",
            };
        }
        else{
            var dataV = {
                z: jv,
                x: jx,
                y: jy,
                text:anno,                                
                hovertemplate:'Val:%{z:.4f}<br>%{text}',                
                hoverlabel:{bgcolor:'rgba(1,1,1,0.05)',align:'left'},
                type: denplot,
                colorscale: cs,
                reversescale: false,
                autocontour: false,
                line: {
                    width: 0.5,
                    color: 'Gray'
                },
                contours: {
                    start: minc,
                    end: maxc,
                    size: size
                },
                showscale:dbar,
                colorbar: col_bar,            
                name: "Density",
            };
        }

        data = [dataV,dataP,dataA,dataB,dataAP]
   
        var dataR = [{
            z: jvr,
            x: jx,
            y: jy,
            text:anno,                                
            hovertemplate:'Val:%{z:.4f}<br>%{text}',
            type: radplot,
            colorscale: cs_rad,
            reversescale: false,
            autocontour: true,
            line: {
                width: 0,
                color: 'Gray'
            },        
            showscale: rbar,
            colorbar: col_bar,    
            name: "Radient",
        }, dataP,dataA,dataB,dataAP];

        if (lapplot == "heatmap") {
            var dataL = [{
                z: jvl,
                x: jx,
                y: jy,
                text:anno,                                
                hovertemplate:'Val:%{z:.4f}<br>%{text}',
                zmin: minl,
                zmax: maxl,
                type: lapplot,
                colorscale: cs_lap,
                reversescale: true,                
                line: {
                    width: 0.5,
                    color: 'Gray'
                },
                showscale: lbar,
                colorbar: col_bar,  
                name: "Laplacian",
            }, dataP,dataA,dataB,dataAP];
        }
        else{
            var dataL = [{
            z: jvl,
            x: jx,
            y: jy,    
            text:anno,                                
            hovertemplate:'Val:%{z:.4f}<br>%{text}',
            type: lapplot,
            colorscale: cs_lap,
            reversescale: true,
            autocontour: false,
            line: {
                width: 0.5,
                color: 'Gray'
            },        
            showscale: lbar,
            colorbar: col_bar,            
            name: "Laplacian",
            contours: {
                    start: minl,
                    end: maxl,
                    size: sizel
                },
        }, dataP,dataA,dataB,dataAP];
        }
        
       
    
        var layout = {
            grid: { rows: 1, columns: 1, pattern: 'independent' },
            autosize: true,
            title: '',
            showlegend: false,                   
            xaxis: {
                showgrid: false,
                zeroline: false,
                visible: false,
            },
            xaxis2: {
                showgrid: false,
                zeroline: false,
                visible: false,
            },
            xaxis3: {
                showgrid: false,
                zeroline: false,
                visible: false,
            },
            xaxis4: {
                showgrid: false,
                zeroline: false,
                visible: false,
            },
            xaxis5: {
                showgrid: false,
                zeroline: false,
                visible: false,
            },
            yaxis: {
                scaleanchor: 'x',
                scaleratio: 1,
                visible: false,
            },
            yaxis2: {
                scaleanchor: 'x',
                scaleratio: 1,
                visible: false,
            },
            yaxis3: {
                scaleanchor: 'x',
                scaleratio: 1,
                visible: false,
            },
            yaxis4: {
                scaleanchor: 'x',
                scaleratio: 1,
                visible: false,
            },
            yaxis5: {
                scaleanchor: 'x',
                scaleratio: 1,
                visible: false,
            },
            margin: {
                l: 20,
                r: 80,
                b: 20,
                t: 20,
                pad: 4
            },                  
        };
    
        var config = { responsive: true, 
            toImageButtonOptions:{scale:6,width:540,height:540}
        };

        annos = {};
        
        layoutD = layout;
        layoutR = layout;
        layoutL = layout;
        
        if (lenD > 0){
            Plotly.newPlot('myCountour', data, layoutD, config,annos);
        }
        if (lenR > 0){
            Plotly.newPlot('myCountourRad', dataR, layoutR, config);
        }
        if (lenL > 0){
            Plotly.newPlot('myCountourLap', dataL, layoutL, config);
        }
    }
    var numsd = @Html.Raw(Json.Serialize(@ViewBag.SdCap));
    var numsdfloor = @Html.Raw(Json.Serialize(@ViewBag.SdFloor));        
    var ydots = document.getElementById("ydots").value.trim();
    var gdots = document.getElementById("gdots").value.trim();
    makePlots(numsdfloor, numsd, ydots=="Y",gdots=="Y");
</script>

<script>
    var sliderMax = document.getElementById("rangeValueMax");
    var outputMax = document.getElementById("sdcap");

    var sliderMin = document.getElementById("rangeValueMin");
    var outputMin = document.getElementById("sdfloor");

    sliderMin.oninput = function () {
        outputMin.value = this.value;
        var outputMax = document.getElementById("sdcap");
        var ydots = document.getElementById("ydots").value.trim();
        var gdots = document.getElementById("gdots").value.trim();
        makePlots(outputMin.value, outputMax.value, ydots == "Y", gdots == "Y");
    }
    sliderMax.oninput = function () {
        outputMax.value = this.value;
        var outputMin = document.getElementById("sdfloor");
        var ydots = document.getElementById("ydots").value.trim();
        var gdots = document.getElementById("gdots").value.trim();
        makePlots(outputMin.value, outputMax.value, ydots == "Y", gdots == "Y");
    }
    function myPositionDots(val) {
        var outputMin = document.getElementById("sdfloor");
        var outputMax = document.getElementById("sdcap");
        var optOn = document.getElementById("on");
        var optOff = document.getElementById("off");
        document.getElementById("ydots").value = val;        
        var ydots = document.getElementById("ydots").value.trim();
        var gdots = document.getElementById("gdots").value.trim();
        makePlots(outputMin.value, outputMax.value, ydots == "Y", gdots == "Y");
    }
    function myAtomDots(val) {
        var outputMin = document.getElementById("sdfloor");
        var outputMax = document.getElementById("sdcap");
        var optgOn = document.getElementById("gon");
        var optgOff = document.getElementById("goff");        
        document.getElementById("gdots").value = val;
        var ydots = document.getElementById("ydots").value.trim();
        var gdots = document.getElementById("gdots").value.trim();
        makePlots(outputMin.value, outputMax.value, ydots == "Y", gdots == "Y");
    }
    function myOptimise(val){
        document.getElementById("force_slow").value = val;
    }
</script>
<script>
    function SubmitInterp(interp) {
        document.getElementById("interp").value = interp;
    }
</script>
<script>
    function ForceRefreshAtoms(offset) {
        document.getElementById("atom_offset").value = offset;
        document.getElementById("c_xyz").value = "";
        document.getElementById("l_xyz").value = "";
        document.getElementById("p_xyz").value = "";
        document.getElementById("refresh_mode").value = "F";
    }
    function ForceRefreshCoords() {
        document.getElementById("ca").value = "";
        document.getElementById("la").value = "";
        document.getElementById("pa").value = "";
        document.getElementById("refresh_mode").value = "F";
    }
</script>
<script>
    function ChangeWidth(val) {
        var new_wdth = parseFloat(document.getElementById("width").value) + parseFloat(val)
        document.getElementById("width").value = new_wdth;
    }
</script>
<script>
    function ChangeSpace(val) {
        var new_gap = parseFloat(document.getElementById("gap").value) + parseFloat(val)
        document.getElementById("gap").value = new_gap;
    }
</script>
<script>
    function ChangeTab(tab) {
        
        document.getElementById("tabAtoms").style.color = "Black";
        document.getElementById("tabNeighbours").style.color = "Black";
        document.getElementById("tabSettings").style.color = "Black";
        document.getElementById("tabAdvanced").style.color = "Black";
        
        if (tab == 't1'){
            document.getElementById("t1").value = 1;
            document.getElementById("tabview").value = "A";
            document.getElementById("tabAtoms").style.color = "crimson";
            document.getElementById("refresh_mode").value = "F";
        }
        else if (tab == 't2'){
            document.getElementById("t2").value = 1;
            document.getElementById("tabview").value = "S";
            document.getElementById("tabSettings").style.color = "crimson";
            document.getElementById("refresh_mode").value = "F";
        }
        else if (tab == 't3'){
            document.getElementById("t3").value = 1;
            document.getElementById("tabview").value = "N";            
            document.getElementById("tabNeighbours").style.color = "crimson";
            document.getElementById("refresh_mode").value = "F";
        }
        else if (tab == 't4'){
            document.getElementById("t4").value = 1;
            document.getElementById("tabview").value = "X";
            document.getElementById("tabAdvanced").style.color = "crimson";
            document.getElementById("refresh_mode").value = "F";
        }        
    }
</script>
<script>
    function SubmitValSd(val) {
        document.getElementById("valsd").value  = val;  
    }
</script>
<script>
    function TogglePlot(plot){
        if (plot == "density"){
            document.getElementById("denplot").value  = "+1";
        }
        else if (plot == "radient"){
            document.getElementById("radplot").value  = "+1";
        }
        else if (plot == "laplacian"){
            document.getElementById("lapplot").value  = "+1";
        }
    }
    function ToggleHue(plot){
        if (plot == "density"){
            document.getElementById("denhue").value  = "+1";
        }
        else if (plot == "radient"){
            document.getElementById("radhue").value  = "+1";
        }
        else if (plot == "laplacian"){
            document.getElementById("laphue").value  = "+1";
        }
    }
    function ToggleBar(plot){
        if (plot == "density"){
            document.getElementById("denbar").value  = "+1";
        }
        else if (plot == "radient"){
            document.getElementById("radbar").value  = "+1";
        }
        else if (plot == "laplacian"){
            document.getElementById("lapbar").value  = "+1";
        }
    }
</script>
<script>
    function NavPressed(nav){
        document.getElementById("nav").value  = nav;        
    }
</script>
<script>
    var myPlot = document.getElementById('myCountour');
    var myPlotRad = document.getElementById('myCountourRad');
    var myPlotLap = document.getElementById('myCountourLap');

    function hoverUpdates(infotext){
        var hovtext = infotext.join('');
        //hovtext = hovtext.replace("<br>", "=");  
        //hovtext = hovtext.replace("<br>", "=");  
        var hovArray = hovtext.split(" ");                
        var abovetext = "<tr><td colspan='3'>";
        var hovintext = "<tr><th>AA</th><th>Atom</th><th>Distance</th></tr><tr>";
                
        var count = 0
        for (let i = 0; i < hovArray.length; i++) {            
            var itm = hovArray[i];                             
            if (i < 3) {
                abovetext = abovetext+itm;
            }
            else{
                itm = itm.replace("<br>", "=");  
                var itms = itm.split("=");
                for (let j = 0; j < itms.length; j++) {                                
                    var itm2 = itms[j];   
                    if (itm2.length > 0){
                        if (count % 3 == 0){
                            hovintext += "</tr><tr>";
                        }            
                        hovintext += "<td>" + itm2  + "</td>";
                        count = count + 1
                    }
                }
            }
        }
        abovetext += "</td><tr>"
        hovintext += "</tr>";
        tabletext = "<table>" + abovetext + hovintext + "</table>"        
        hoverInfo3.innerHTML = tabletext;
    }
    
    myPlot.on('plotly_click', function (data) {                
        var infotext = data.points.map(function (d) { return (d.data.name + '= '+d.z.toPrecision(3)) + " " + d.text; });                
        hoverUpdates(infotext);
    });    

    myPlotRad.on('plotly_click', function (data) {                
        var infotext = data.points.map(function (d) { return (d.data.name + '= '+d.z.toPrecision(3)) + " " + d.text; });                
        hoverUpdates(infotext);
    });    

    myPlotLap.on('plotly_click', function (data) {                
        var infotext = data.points.map(function (d) { return (d.data.name + '= '+d.z.toPrecision(3)) + " " + d.text; });                
        hoverUpdates(infotext);
    });    
</script>
<script>
     function makeAtom(atom){
        //alert(atom);
        atom_val = document.getElementById("update_atom").value;
        //alert(atom_val);
        if (atom == "C"){
            document.getElementById("ca").value = atom_val;
        }
        else if (atom == "L"){
            document.getElementById("la").value = atom_val;
        }
        else if (atom == "P"){
            document.getElementById("pa").value = atom_val;
        }
        document.getElementById("c_xyz").value = "";
        document.getElementById("l_xyz").value = "";
        document.getElementById("p_xyz").value = "";
        document.getElementById("refresh_mode").value = "F";
    }
    
</script>

