@model VeracityFable.Models.SchoolModel

@{
    ViewBag.Title = "CalcAlloAlgoForm";
}


<h2>Allo Algo Results</h2>

<p>This function has been called @ViewBag.Counter times</p>


<div style="width:1000px;">    
    <div style="width:495px; float:left">
        <h3>Allo Algo Results: Random Radius</h3>
        <textarea rows="30" cols="10" style="width:450px";>@ViewBag.AlloAlgoResult</textarea>        
        <h4>Messages from Calculation</h4>
        <textarea rows="5" cols="10" style="width:450px";>@ViewBag.ErrorRandom</textarea>
        </div>
    <div style="width:495px; float:right">
    <h3>Allo Algo Results: Traditional Distance</h3>
        <textarea rows="30" cols="10" style="width:450px";>@ViewBag.AlloAlgoResultDistance</textarea>
        <h4>Messages from Calculation</h4>
        <textarea rows="5" cols="10" style="width:450px";>@ViewBag.ErrorDistance</textarea>        
        </div>
</div>
<div style="clear:both">



     

<h3>Return to the AlloAlgo</h3>
    </div>
   <li>@Html.ActionLink("AlloAlgo", "AlloAlgoForm", "AlloAlgo")</li>




